@import "../../../../variables";

$font-weight: 400;

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: $unit * 13;

    color: $dark;
    background-color: $pink-soft;

    user-select: none;
}

.title-text {
    font-size: $unit * 4;
}

.title-author-icon {
    display: flex;
    align-items: center;
}

.title-author {
    font-weight: $font-weight;
    margin-right: $unit / 2;
    font-size: $unit * 2;
}

.title-icon {
    font-size: $unit * 2;
}