<div class="title-container">
    <div class="title-text">ToDo List</div>
    <div class="title-author-icon">
        <div class="title-author">SPA by Adrian Wragg with</div>
        <i class="material-icons title-icon">favorite</i>
    </div>
</div>