@import "../../../../variables";

.main-block {
    background-color: $darkest;
    color: $white;

    min-width: $unit * 120;
    height: 100%;
    
    box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.6);
}