<div class="main-block" *mobxAutorun="{ dontDetach: true }">
    <app-title class="title"></app-title>
    <app-add-todo class="add-todo"></app-add-todo>
    <app-entry *ngFor="let todo of todos; let i = index;" [index]="i" [description]="todo.description"></app-entry>
</div>