@import '../../../../../variables';

$radius: $unit * 2;

.led {
    height: $radius;
    width: $radius;
    border-radius: $radius;
    border: 2px solid;

    cursor: pointer;
    transition: all 0.3s;
}

.green {
    border-color: $green;
    &:hover{
        background-color: $dark-green;
    }
}

.grey {
    border-color: $grey;
    &:hover{
        background-color: $dark-grey;
    }
}

.yellow {
    border-color: $yellow;
    &:hover{
        background-color: $dark-yellow;
    }
}