// Units
$unit: 8px;

// Colors
$white: #EFEFEF;

$almost-clear: #7A7A7A;
$almost-dark: #545454;
$darkish: #424242;
$dark: #303030;
$darker: #212121;
$darkest: #0E0E0E;

$beige-light: #FCE8C0;
$beige-dark: #E9C494;

$red: #B72F32;
$pink-soft: #FFCCBC;
$pink-soft-dark: #745D56;

$green: #76FF03;
$dark-green: #33691E;
$grey: #90A4AE;
$dark-grey: #37474F;
$yellow: #f3ad3d;
$dark-yellow: #6F4F1C;
