<div class="entry" (mouseenter)="onHoverIn()" (mouseleave)="onHoverOut()" [ngClass]="{'deleted': deleted}">
    <div class="content">
        <app-led class="led" (ledClick)="updateStatus($event)" [index]="index"></app-led>
        <div class="content-wrapper">
            <input type="text" class="description" (focusout)="onEdit()" (keyup.enter)="onEdit()"
                [ngClass]="{'done': done}" [(ngModel)]="description">
        </div>
    </div>
    <div class="action-buttons" [ngClass]="{'show': showActionButtons}">
        <i class="material-icons action delete-button" (click)="onDelete()">delete</i>
    </div>
</div>