@import "../../../../variables";
@keyframes fade-in {
    0% {
        top: $unit * 2;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: $unit * 2;
        opacity: 0;
    }
}

.entry {    
    display: flex;
    align-items: center;
    position: relative;

    background-color: $darker;
    border-bottom: 1px $darkish solid;

    height: $unit * 8;

    padding: 0 $unit * 2;
    overflow: hidden;

    animation: 0.6s fade-in;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-wrapper {
    display: flex;
    margin-left: $unit * 2;
    align-items: center;
    width: 100%;
    height: 100%;
}

.description {
    font-size: $unit * 2;
    color: $white;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

.action-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: $unit * 10;
    position: absolute;
    right: -$unit * 15;
    background-color: $pink-soft;
    transition: all 0.3s ease-in;
    &.show{
        right: 0;
        transition: all 0.3s ease-out;
    }
}

.action {
    color: $dark;
    font-size: $unit * 3;
    cursor: pointer;
    user-select: none;
}

.delete-button:hover {
    color: $red;
}

.done {
    text-decoration: line-through;
    color: $almost-clear;
}

.deleted {
    animation: 0.6s fade-out;
}