/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./app/variables";

html {
    width: 100vw;
    height: 100vh;
}
body {
    position: relative;
    display: flex;
    justify-content: center;

    background: repeating-linear-gradient(
        -45deg,
        $dark,
        $dark 3px,
        $darkest 3px,
        $darkest 12px
    );

    font-size: $unit * 2;
    font-family: 'Nunito', sans-serif;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}