@import '../../../../variables';

.add-todo {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: $unit * 10;
    padding: 0 $unit * 2;

    background-color: $darkest;
}

.description {
    height: $unit * 4;
    width: 100%; //$unit * 100;

    color: $white;
    background: transparent;
    outline: none;
    border: 0;

    text-align: center;

    font-size: ($unit/2) * 5;
    font-family: 'Nunito', sans-serif;
}

::placeholder {
    color: $pink-soft-dark;
}